@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.input {
  @apply text-lg outline-none bg-transparent
    h-8  focus:text-mainPurple;
}

.withHover {
  @apply hover:opacity-60 cursor-pointer;
}
